body {
    overflow: auto;
    background-color: #FFF;
    color: #4C4C4C;
    display: block;
}

.movie-tickets-header {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #929292;
}

.brand-bar {
    background-color: #000;
    color: #FFF;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    position: relative;
}

.row {
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}

.right {
    bottom: 0;
    color: ##fff;
    font-size: 14px;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
    padding-right: 140px
}

.banner-bar {
    background: #9f599b;
    color: #fff;
    cursor: pointer;
    font-size: 11px;
    height: auto;
    line-height: 22px;
    min-height: 22px;
    padding: 6px 16px;
    position: absolute;
    left: calc(50% - 280px);
    text-align: center;
    width: 560px;
    z-index: 1;
}

.navLink{
color: #fff;
}

.bar{
position: absolute;
height: 100%;
z-index: -1;
top: 0;
width: 100%;
}


.global-header {
    position: relative;
    right: 0;
    left: 0;
    z-index: 3;
    border-bottom: 2px solid #F15500;
    background-color: rgba(51,51,51,.95);
    box-shadow: 0 2px 2px rgba(50,50,50,.3);
}

.icon {
    font-size: 0;
    direction: ltr;
    background-color: transparent;
}

.img-logo{
  height: 60px;
  width: 230px
}


.global-menu {
    color: #ebebeb;
    list-style-type: none;
        display: block;

}

.global-menu-ul{
      display: block;
}

.global-menu-li {
    padding: 0 0 0 14px;
    padding-top: 5px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    vertical-align: middle;
}

.float-right {
    float: right;
}
